body {
  background-color: rgba(58, 101, 165, 1);
  color: white;
}
.nav-logo > img,
.navbar ul {
  background-color: rgba(165, 58, 55, 1);
}

.active {
  border-bottom-style: solid;
  border-color: white;
  font-weight: bold;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  text-align: justify;
  justify-self: center;
}
.navbar ul {
  padding: 2rem;
  border-radius: 5rem;
}
.navbar li {
  display: inline-block;
}
.navbar a {
  margin: 3vw;
  text-decoration: none;
  font-size: 100%;
}
.navbar a,
.navbar p {
  color: white;
}
.navbar p {
  margin-left: 0%;
}
.nav-logo img {
  width: 10rem;
  height: auto;
}
.navbar ul,
.product-container,
.product-link-button > button,
.chosen-product-container > h2,
.checkout-total,
.homeButton {
  font-family: Jockey One;
  letter-spacing: 0.1rem;
}
.header-cart {
  position: relative;
}
.header-cart-counter {
  background-color: rgba(165, 58, 55, 1);
  position: absolute;
  top: 0;
  right: 0;
}
/*Index.html*/
#display-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5rem;
}
.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8rem;
  padding-bottom: 2em;
}
.product-container > img {
  max-width: 15rem;
  border-radius: 1rem;
}
.product-container > h2 {
  font-size: 3rem;
  color: white;
}
.product-link-button > button,
.button-container > button {
  border: solid, rgba(58, 101, 165, 1);
  border-radius: 2rem;
  height: 5vh;
  background-color: white;
  font-size: 2vh;
}
.product-link-button > button,
.button-container {
  width: 15rem;
}
.button-container > button {
  width: 10rem;
  margin-top: 1rem;
}
.button-container > button:hover,
.product-link-button > button:hover {
  background-color: rgba(93, 163, 70, 1);
  color: white;
}
.button-container > button:active,
.product-link-button > button:active {
  background-color: green;
  color: white;
  border: none;
}

.button-container {
  display: none;
  flex-direction: row;
  justify-content: space-between;
}
/*Product page*/
#display-chosen-container {
  display: flex;
  justify-content: center;
}
.chosen-product-container {
  margin-top: 5%;
  margin-bottom: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5rem;
  width: 70%;
}
.chosen-product-container > img {
  margin-top: 2%;
  width: 30%;
  height: auto;
}

.chosen-product-container > h2 {
  margin-top: 0%;
  font-size: 5rem;
}
.chosen-product-container > p {
  font-family: Jockey One;
  padding: 5%;
}
.chosen-product-button,
.cart-buy-button,
.cart-continue-button,
.chosen-product-container > button {
  font-size: 24px;
  color: white;
  background-color: rgba(10, 54, 65, 1);
  border: none;
  width: 8em;
  height: 3em;
  margin-top: 1rem;
  margin-bottom: 3em;
}
.specific-cart-button:hover {
  background-color: white;
  color: rgba(10, 54, 65, 1);
  border-color: rgba(10, 54, 65, 1);
  border-style: solid;
  border-width: 5px;
  cursor: pointer;
}
@media (max-width: 450px) {
  .navbar ul {
    padding: 2rem;
    border-radius: 3rem;
  }
  .navbar a {
    margin: 0.25rem;
    font-size: 1rem;
  }
  .nav-logo img {
    width: 3rem;
    height: auto;
  }
  #display-container {
    grid-gap: 1rem;
  }
  .product-container {
    margin-top: 1rem;
    border-radius: 2rem;
    padding-bottom: 1em;
  }
  .product-container > img {
    max-width: 7rem;
    border-radius: 0.5rem;
  }
  .product-container > h2 {
    font-size: 1rem;
  }
  .button-container {
    display: none;
  }
  .product-link-button > button {
    border: solid, rgba(58, 101, 165, 1);
    border-radius: 2rem;
    height: 2rem;
    background-color: white;
    font-size: 0.5rem;
  }
  .product-link-button > button {
    width: 7rem;
  }
}
/**
Cart page
**/
.checkout-total {
  text-align: center;
  margin-bottom: 2rem;
}
.homeButton {
  background-color: rgba(165, 58, 55, 1);
  color: white;
  border: 0;
  border-radius: 1rem;
  padding: 1rem;
}
.homeButton:hover {
  cursor: pointer;
}
.cart-product > img {
  border-radius: 1rem;
}
.checkout-cart {
  display: grid;
  grid-template-columns: repeat(1, 20rem);
  justify-content: center;
  gap: 1rem;
}
.cart-product {
  border: 3px solid white;
  border-radius: 1rem;
  display: flex;
}
.fa-xmark {
  color: red;
}
.title-price-del {
  font-size: 0.8rem;
  width: 9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-price {
  display: flex;
  align-items: center;
  gap: 1rem;
}
/*
.cart-product-price {
}*/
@media (min-width: 451px) and (max-width: 530px) {
  .navbar ul {
    padding: 2rem;
    border-radius: 5rem;
  }
  .navbar a {
    margin: 0.5rem;
    font-size: 1rem;
  }
  .nav-logo img {
    width: 5rem;
    height: auto;
  }
  #display-container {
    grid-gap: 1rem;
  }
  .product-container {
    margin-top: 1rem;
    border-radius: 4rem;
    padding-bottom: 1em;
  }
  .product-container > img {
    max-width: 10rem;
    border-radius: 0.5rem;
  }
  .product-container > h2 {
    font-size: 1rem;
  }
  .button-container {
    display: none;
  }
  .product-link-button > button {
    border: solid, rgba(58, 101, 165, 1);
    border-radius: 2rem;
    height: 2rem;
    background-color: white;
    font-size: 0.5rem;
  }
  .product-link-button > button {
    width: 10rem;
  }
}
@media (min-width: 531px) and (max-width: 630px) {
  .navbar ul {
    padding: 2rem;
    border-radius: 5rem;
  }
  .navbar a {
    margin: 1rem;
    font-size: 1rem;
  }
  .nav-logo img {
    width: 5rem;
    height: auto;
  }
  #display-container {
    grid-gap: 1rem;
  }
  .product-container {
    margin-top: 1rem;
    border-radius: 4rem;
    padding-bottom: 1em;
  }
  .product-container > img {
    max-width: 10rem;
    border-radius: 0.5rem;
  }
  .product-container > h2 {
    font-size: 1rem;
  }
  .product-link-button > button,
  .button-container > button {
    border: solid, rgba(58, 101, 165, 1);
    border-radius: 2rem;
    height: 2rem;
    background-color: white;
    font-size: 0.5rem;
  }
  .product-link-button > button,
  .button-container {
    width: 10rem;
  }
  .button-container > button {
    width: 5rem;
    margin-top: 1rem;
  }
}

@media (min-width: 631px) and (max-width: 850px) {
  .navbar a {
    margin: 1rem;
    font-size: 1rem;
  }
  #display-container {
    grid-gap: 2rem;
  }
  .product-container {
    margin-top: 2rem;
    border-radius: 4rem;
    padding-bottom: 1em;
  }
  .product-container > img {
    max-width: 10rem;
    border-radius: 1rem;
  }
  .product-container > h2 {
    font-size: 2rem;
  }
  .product-link-button > button,
  .button-container > button {
    border: solid, rgba(58, 101, 165, 1);
    border-radius: 2rem;
    height: 2rem;
    background-color: white;
    font-size: 1rem;
  }
  .product-link-button > button,
  .button-container {
    width: 10rem;
  }
  .button-container > button {
    width: 5rem;
    margin-top: 1rem;
  }
}
